body {
  font-family: "Long Cang", "Yuji Mai", "Rampart One", "Roboto", sans-serif;
}

.image-relative {
  position: relative;
  width: 100%;
  padding-bottom: 20%;
}

.image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (min-width: 991px) {
  .page-width {
    max-width: 1440px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: auto;
  }
}
@media (max-width: 990px) {
  .page-width {
    max-width: 990px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: auto;
  }
}
